{% extends "base.html" %}
{%block content%}

    <div class="col-4 offset-4 mt-5">
        <div class="card">
            <div class="card-header">
                <h4 class="text-uppercase text-center"><a href={{tool.href}} target="_blank">{{tool.title}}</a></h4>
            </div>

            <div class="card-body">
                <p class="card-text"><strong>Position: </strong>{{tool.position}}</p>
                <p class="card-text"><strong>Address: </strong><a href={{tool.href}} target="_blank">{{tool.href}}</a></p>
                <p class="card-text"><strong>Change: </strong>{{tool.change}}</p>
                <p class="card-text"><strong>Date: </strong>{{tool.date}}</p>
                <p class="card-text"><strong>Category: </strong>{{tool.category}}</p>
                <p class="card-text"><strong>Subject: </strong>{{tool.subject}}</p>
                <p class="card-text"><strong>Learning tool?: </strong>{{tool.learning}}</p>
                <p class="card-text"><strong>Teaching tool?: </strong>{{tool.teaching}}</p>
            </div>

        </div>
    </div>

{%endblock%}